<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, html: { class: "form-signin auth_form"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control"  %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control"  %>
      
      <%= f.label :country %>
      <%= f.text_field :country, class: "form-control"  %>
      

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%#= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>